@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rádio Corredor</h1>
    <p class="lead"> Vote no seu programa preferido e peça a música que você mais curte de ouvir.</p>
    <p><a href="http://tunein.com/player/station/97728/" class="btn btn-primary btn-large">Ouça a batida &raquo;</a></p>
</div>
<div class="col-md-4">
    <h2>Desenvolvedoras</h2>
    <p>Juliane Oliveira</p>
    <p>Mayara Roberta</p>
    </div>

